## Bitcoin Allocation Strategies
Comparing different allocation strategies historically

. Lump-Sum

. Dollar Cost Averaging (DCA)

. Combination (optimized)

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import urllib
import requests

# Chart libraries + settings
%matplotlib inline
import matplotlib.pyplot as plt
# plt.style.use('seaborn-whitegrid')
pd.options.mode.chained_assignment = None  # default='warn' - disable some pandas warnings

In [6]:
# Load Bitcoin Prices into a dataframe
# Ticker is customizable
ticker = "BTC"
# Cryptocompare URL and fiels
base_url = 'https://min-api.cryptocompare.com/data/histoday'
ticker_field = 'fsym'
field_dict = {'tsym': 'USD','allData': 'true'}
# Convert the field dict into a url encoded string
url_args = "&" + urllib.parse.urlencode(field_dict)
ticker = ticker.upper()
globalURL = (base_url + "?" + ticker_field + "=" + ticker + url_args)

In [7]:
# Request the data
resp = requests.get(url=globalURL)
data = resp.json()
data["Response"]

'Success'

In [8]:
# Parse the JSON into a Pandas DataFrame
try:
    df = pd.DataFrame.from_dict(data['Data'])
    df = df.rename(columns={'time': 'date'})
    df['date'] = pd.to_datetime(df['date'], unit='s')
    df.set_index('date', inplace=True)
    df_save = df[['close', 'open', 'high', 'low']]
except Exception as e:
    self.errors.append(e)
    df_save = None

In [9]:
# Include percentage change and other columns 
df = df_save
df['change'] = df['close'].pct_change()

In [12]:
df

                  close         open         high          low    change
date
2010-07-17      0.04951      0.04951      0.04951      0.04951       NaN
2010-07-18      0.08584      0.04951      0.08585      0.05941  0.733791
2010-07-19      0.08080      0.08584      0.09307      0.07723 -0.058714
2010-07-20      0.07474      0.08080      0.08181      0.07426 -0.075000
2010-07-21      0.07921      0.07474      0.07921      0.06634  0.059807
...                 ...          ...          ...          ...       ...
2023-01-11  17938.00000  17442.44000  17986.45000  17324.71000  0.028411
2023-01-12  18849.00000  17938.00000  19092.31000  17906.40000  0.050786
2023-01-13  19932.05000  18849.00000  19992.23000  18717.45000  0.057459
2023-01-14  20954.52000  19932.05000  21255.15000  19895.77000  0.051298
2023-01-15  20929.45000  20954.52000  21047.91000  20575.44000 -0.001196

[4566 rows x 5 columns]

In [16]:
class AllocationManager:
    def __init__(self):
        self.start_date = self.df.index.min()  # Date where allocation starts (default = first date)
        self.periodicity = 'D'  # 'D', 'W', 'M', 'Y'
        self.allocation_periods = 30  # Assume allocation happens during 30 periods
        self.upfront_percent = 0  # [0 - 1]: amount to be allocated upfront
        self.capital = 100000  # 10,000 dollars to allocate
        self.df = df  # Bitcoin Prices Dataframe
        # Create empty allocation & position columns
        self.df['allocation'] = 0
        self.df['BTC_position'] = 0
         
    def allocate_capital(self):
        # Updates the dataframe to allocate the capital
        available_capital = self.capital 
        current_date = self.start_date
        periods_left = self.allocation_periods
        
        # Set upfront amount if any & per period amounts
        if self.upfront_percent > 0:
            upfront = self.upfront_percent * self.capital  # how much upfront in $
            per_period = (self.capital - upfront) / (self.allocation_periods - 1)
        else:
            per_period = self.capital / self.allocation_periods 
            upfront = per_period
        
        # Start looping until allocation is complete
        while periods_left > 0:
            # If first allocation, check if there's an upfront (lumpsum = 1)
            if current_date == self.start_date:
                period_capital = upfront    
            else:
                period_capital = per_period
            
                periods_left -= 1
                
            self.df.at[current_date, 'allocation'] =

In [17]:
btc_alloc = AllocationManager()
btc_alloc.allocate_capital()

In [18]:
btc_alloc.start_date

Timestamp('2010-07-17 00:00:00')